<h1>Home Page</h1>

<%= @result["data"][0]["embed_url"] %>

<%@result["data"].each do |data|%>
  <iframe src="<%= data["embed_url"] %>" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<%end%>